{
    "semi": true,
    "trailingComma": "all",
    "printWidth": 120,
    "arrowParens": "always",
    "useTabs": false,
    "tabWidth": 4,
    "bracketSameLine": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "vueIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 4,
                "trailingComma": "none"
            }
        }
    ]
}